.video-container,
.anime-details-container {
  display: flex;
  justify-content: center;
}

.anime-details-container {
  align-items: center;
  flex-direction: column;
  align-self: center;
  width: min(60rem, calc(100vw - var(--pad-x)*2));
  position: relative
}

.episode-input {
  background-color: transparent;
  border: none;
  color: inherit;
  padding: 0;
}

.bookmark-btn {
  position: absolute !important;
  top: var(--pad-y);
  right: 0;
  color: gray !important;
}