/* For styling base HTML elements and global variables */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  background-color: #242424;
}