/* For global styling layouts, general utility classes */

.header {
  width: 100%;
}

.header,
.video-container,
.anime-details-container {
  display: flex;
  justify-content: center;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anime-details-container {
  align-items: center;
  flex-direction: column;
}

.btn {
  background-color: var(--gray);
  border: none;
  color: var(--white);
  border-radius: var(--b-radius);
  padding: var(--pad);
  cursor: pointer;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.gap-0p5 {
  gap: 0.5rem;
}


.gap-1 {
  gap: 1rem;
}

.gap-1p5 {
  gap: 1.5rem;
}