/* For global styling layouts, general utility classes */

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.m-auto {
  margin: auto;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
  gap: 0.5rem
}

.j-center {
  justify-content: center;
}

.header {
  width: 100%;
}

.header,
.video-container,
.anime-details-container {
  display: flex;
  justify-content: center;
}

.home-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.anime-details-container {
  align-items: center;
  flex-direction: column;
}