 /* Templated from https://vidstack.io/docs/player/components/display/captions/?styling=css */
 
 .media-captions {
  --cue-color: white;
  --cue-shadow: 
    0 0 0.15em black,
    0 0 0.15em black,
    0 0 0.15em black,
    0 0 0.15em black;
  --cue-font-size: calc(var(--overlay-height) / 100 * 4.5);
  --cue-line-height: calc(var(--cue-font-size) * 1.2);
  --cue-padding-x: calc(var(--cue-font-size) * 0.6);
  --cue-padding-y: calc(var(--cue-font-size) * 0.4);
  position: absolute;
  inset: 0;
  contain: layout style;
  margin: var(--overlay-padding);
  font-size: var(--cue-font-size);
  pointer-events: none;
  user-select: none;
  word-spacing: normal;
  word-break: break-word;
  bottom: 8px;
  transition: bottom 0.15s linear;
}

.media-captions[aria-hidden='true'] {
  display: none;
}

.media-captions [data-part='cue-display'] {
  position: absolute;
  direction: ltr;
  overflow: visible;
  contain: content;
  top: var(--cue-top);
  left: var(--cue-left);
  right: var(--cue-right);
  bottom: var(--cue-bottom);
  width: var(--cue-width, auto);
  height: var(--cue-height, auto);
  transform: var(--cue-transform);
  text-align: var(--cue-text-align);
  writing-mode: var(--cue-writing-mode, unset);
  white-space: pre-line;
  unicode-bidi: plaintext;
  min-width: min-content;
  min-height: min-content;
}

.media-captions[data-dir='rtl'] [data-part='cue-display'] {
  direction: rtl;
}

.media-captions [data-part='cue'] {
  display: inline-block;
  contain: content;
  padding: var(--cue-padding-y) var(--cue-padding-x);
  line-height: var(--cue-line-height);
  background-color: var(--cue-bg-color);
  color: var(--cue-color);
  text-shadow: var(--cue-shadow);
  white-space: pre-wrap;
}

.media-captions [data-part='cue-display'][data-vertical] [data-part='cue'] {
  padding: var(--cue-padding-x) var(--cue-padding-y);
}

/* Hide captions when interacting with time slider. */
media-player[data-preview] .media-captions {
  opacity: 0;
  visibility: hidden;
}

/* Push captions up when controls are visible. */
media-player[data-controls] .media-captions {
  bottom: 78px;
}