.video-player {
  --video-b-radius: 4px;
  --popup-color: rgba(0, 0, 0, 0.378);
  --popup-blur: blur(1px);

  border-radius: var(--video-b-radius);
}

.controls-layout {
  padding: 15px;
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  width: 100%;
}

.buttons-layout {
  display: flex;
  align-items: center;
}