.video-player {
  --video-b-radius: 4px;
  --popup-color: rgba(0, 0, 0, 0.555);
  --popup-blur: blur(1px);

  border-radius: var(--video-b-radius);
}

.media-menu {
  backdrop-filter: var(--popup-blur);
  background-color: var(--popup-color);
  border-radius: var(--video-b-radius);
}

.controls-layout {
  padding: 15px !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  opacity: 0;
  bottom: 0;
  width: 100%;
}

.controls-layout[data-visible] {
  visibility: visible;
  opacity: 1;
  background-image: linear-gradient(
    transparent,
    rgb(0 0 0 / 0.4)
  );
}

.controls-layout:not([data-visible]) {
  visibility: hidden;
  opacity: 0;
}

.buttons-layout {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Timestamp / Video length */
.media-time-group {
  display: flex;
  align-items: center;
}

.media-time {
  display: inline-block;
  contain: content;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: white;
}

.media-time-divider {
  margin: 0 4px;
}

.volume-slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 130px;
  width: 40px !important;
  padding: 5px 0 15px 0;
  gap: 10px;
}